    <mat-form-field class="form-item">
        <mat-label>Dados Variaveis:</mat-label>
        <input matInput value="inputDadosVariaveis" id="inputDadosVariaveis" type="text" [formControl]="inputDadosVariaveis">
      </mat-form-field>

      <mat-form-field class="form-item">
        <mat-label>Titulo:</mat-label>
        <input matInput value="inputTitulo" id="inputTitulo" type="text" [formControl]="inputTitulo">
      </mat-form-field>

      <mat-form-field class="form-item">
        <mat-label>Tamanho Fonte:</mat-label>
        <input matInput value="inputTamanhoFonte" id="inputTamanhoFonte" type="text" [formControl]="inputTamanhoFonte">
      </mat-form-field>

      <mat-form-field class="form-item">
        <mat-label>Cod Comprovante:</mat-label>
        <input matInput value="codComprovante" id="codComprovante" type="text" [formControl]="codComprovante">
      </mat-form-field>
    
    <button mat-raised-button color="primary" (click)="submit()" class="form-item btn btn-primary">
        Submit</button>

        <button id="button-format" mat-raised-button color="accent" (click)="format()">
            Formatar</button>
        <a mat-raised-button color="warn" title="Download JSON" [href]="downloadJsonHref"
            [download]="getDownloadName()">Download</a>


    <div class="example-container">
    <div class="col-6">
        <div cdkDropListGroup>

            <h2>Dados Variaveis</h2>

            <button mat-icon-button (click)="criarNovo()" class="example-icon favorite-icon"
                aria-label="Example icon-button with heart icon">
                <mat-icon>note_add</mat-icon>
            </button>
            <div cdkDropList [cdkDropListData]="dadosVariaveis" class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let campo of dadosVariaveis, let i = index" cdkDrag>
                    <div (click)="openModal(campo, i)" class="col-4" style="margin: 10px;">titulo
                        <strong>{{campo.titulo.texto || 'titulo'}}</strong>
                    </div>
                    <div (click)="openModal(campo, i)" class="col-4" style="margin: 10px;">mensagem
                        <strong>{{campo.valor.mensagem || 'mensagem'}}</strong>
                    </div>

                    <div>
                        <p>nome_campo</p>
                        <div class="example-box-h" *ngFor="let campo of campo.valor.textos">
                            <div (click)="openModalDelete(campo, i)" style="margin: 10px;">
                                <strong>{{campo.referencia_dado || 'referencia_dado'}}</strong>
                                <br>
                            </div>

                        </div>
                    </div>
                    <div (click)="openModal(campo, i)" class="col-4">conteudo_campo <strong>{{campo.conteudo_campo ||
                            'conteudo_campo'}}</strong> </div>


                    <mat-toolbar color="link" style="margin-left: 50px; width: 200px;">
                        <button color="primary" (click)="duplicar(campo)" style="margin: 5px;" mat-icon-button>
                            <mat-icon>control_point</mat-icon>
                        </button>
                        <button color="accent" (click)="openModalMerge(campo, i)" style="margin: 5px;" mat-icon-button
                    >
                            <mat-icon>call_merge</mat-icon>
                        </button>
                        <button color="warn" (click)="deleteItem(campo, i)" style="margin: 5px;" mat-icon-button 
                            >
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-toolbar>

                    
                </div>
            </div>

        </div>
    </div>
    
    <div class="col-6" style="margin-left: 10px;">
        <ngx-json-viewer *ngIf="flagAttJson" [json]="getJson()"></ngx-json-viewer>
        <ngx-json-viewer *ngIf="!flagAttJson" [json]="getJson()"></ngx-json-viewer>
    </div>
</div>